/* Swiper button */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  padding: 0.5rem;
  border-radius: 9999px;
}




/* Add this to your global stylesheet (e.g., index.css or App.css) */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}


